<template name="Home">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<div id="page_menu" class="pull-right">
				</div>
			</div>
		</div>
		{{> HomeHomeJumbotron}}
	</div>
</template>

<template name="HomeHomeJumbotron">
	<div class="jumbotron ">
		<div class="container">
			<div class="pull-left">
				<h1 id="component-title">
					FindChan
				</h1>
				<p id="jumbotron-text">Web application that finds local TV listings and displays information given a user's inquiry. It comes in handy when one wants to know what channel and when a tv show is playing on it (vice versa), respective to it's cable provider's listing. The user can query for channels, channel numbers, tv shows, and cable provider listings.
				</p>
			</div>
		</div>
	</div>
</template>

