<template name="TvlistingspageEdit">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<div id="page_menu" class="pull-right">
				</div>
			</div>
		</div>
		{{> TvlistingspageEditEditForm}}
	</div>
</template>

<template name="TvlistingspageEditEditForm">
	<div class="">
		<h2 id="component-title">
			Edit TV Listing
		</h2>
		<form id="form" role="form">
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}		
		
			{{#if infoMessage}}
			<div class="alert alert-success">
				{{infoMessage}}
			</div>
			{{/if}}
			<div class="form-group  field-name">
				<label for="name">
					Name
				</label>
				<div class="input-div">
					<input type="text" name="name" value="{{tvlisting.name}}" class="form-control" autofocus="autofocus" required="required">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-channelname">
				<label for="channelname">
					Channel Name
				</label>
				<div class="input-div">
					<input type="text" name="channelname" value="{{tvlisting.channelname}}" class="form-control">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-channelnumber">
				<label for="channelnumber">
					Channel Number
				</label>
				<div class="input-div">
					<input type="text" name="channelnumber" value="{{tvlisting.channelnumber}}" class="form-control">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-cableprovider">
				<label for="cableprovider">
					Cable Provider
				</label>
				<div class="input-div">
					<input type="text" name="cableprovider" value="{{tvlisting.cableprovider}}" class="form-control">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group">
				<div class="submit-div">
					<button id="form-submit-button" class="btn btn-success" type="submit">
						<span class="fa fa-check">
						</span>
						Save
					</button>
					<a href="#" id="form-cancel-button" class="btn btn-default">
						Cancel
					</a>
				</div>
			</div>
		</form>
	</div>
</template>

